@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

body{
    background-color: rgb(35, 46, 37);
    color: white;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
/* ---------------------------------------- Menu and logo items  --------------*/
.logo {
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
}


.title {
    background-image: url("../images/thirdagetitle1.jpg");
    height: 144px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(34,45,37,1)
}
/* ---------------------------------------- Footer Items  --------------*/
.icon{
    height: 50px;
    margin: 40%;
}
.icon i{
    color: rgb(200,200,200);
    font-size: 36px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 auto;
}
/* ---------------------------------------- Hero Image and Cover Text  --------------*/
.hero-container {
    margin:0 auto;
    padding: 2% 2%;
    background-color: rgb(35, 46, 37);
}
.hero-gif {
    background-image: url(https://j.gifs.com/lxL8z1.gif);
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}



.cover-text{
    width: 100%;
    height: 45px;
    padding-top: 2px;
    padding-left: 1px;
    background-color: rgba(50,50,50,.9);
    top: 0;
    right: 5px;
    position: absolute;
}
.cover-text h2{
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
}
.cover-text h3{
    color: white;
    font-family: 'Roboto',sans-serif;
    font-weight: 200;
    font-size: 10px;

}

.hero-container{
    position: relative;
}

/* ---------------------------------------- Gallery and Header  --------------*/
.carousel{
    padding: 10px 10px;
}

.gallery-title{
    font-size: 22px;
    padding: 10px 5px;
}

/* ---------------------------------------- Responsive design elements --------------*/
@media only screen and (min-width: 765px) {
    .logo {
    height: 200px;
    background-color: white;
    }
    .hero-gif {
    height: 600px;
    }
    .title{
        left: 0;
        background-size:contain;
    }
    .cover-text{
    width: 250px;
    height: 120px;
    padding-top: 10px;
    top: 400px;
    right: 2%;
    }
    .cover-text h2{
        font-size: 22px;
    }
    .cover-text h3{
        font-size: 18px;
        padding: 0 10px;
    }
}
/* --------------------------------------------------------------------- Modal --------------*/
.mymodal {
    padding: 20px auto;
    margin: 10px auto;
}
.modal-content{
    color: black;
}
.modal-icon{
    color: black;
    font-size: 20px;

}
.modal-icon i{
    font-size: 40px;
}
/* ----------------------------------------------------------------- Good Faction page --------------*/
.goodfaction-header{
    text-align: center;
    font-family: 'Exo', sans-serif;
    padding: 20px 10%;
    font-size: 22px;
}
.goodfaction-header p{
    padding-top: 30px;
}
.mapcontainer{
    width: 100%;
    height: 75vw;
    padding: 10px 20px;
    margin: 0 auto;
}
.map{
    background-image: url("../images/middleearth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    width:100%;
    
}
@media only screen and (min-width: 765px) {
    .goodfaction-header{
    padding: 20px 10%;
}
.goodfaction-header p{
    padding-top: 30px;
    font-size: 1.5vw;
}
.goodfaction-header h2{
    font-size: 2.5vw;
    padding-top: 20px;
}
}

.factioncontainer{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}
.faction{
    padding: 10px 20px;
}
.faction h3{
    padding: 15px 0;
}
.faction p{
    padding: 20px 15px;
    margin-bottom: 20px;
}

.gondor{
    background-image: url("../images/gondor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.silvanelves{
    background-image: url("../images/silvanelves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.highelves{
    background-image: url("../images/highelves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.dale{
    background-image: url("../images/dale.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.dwarves{
    background-image: url("../images/dwarves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.bree{
    background-image: url("../images/bree.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.rohan{
    background-image: url("../images/rohan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


